@use "@angular/material" as mat;
@use "sass:math";
// SPACES
$cmp-colors-primary: (
  50: #e3f3ff,
  100: #bbe1ff,
  200: #8fd0ff,
  300: #5dbdff,
  400: #32adff,
  500: #009fff,
  600: #0090ff,
  700: #027dee,
  800: #096bdb,
  900: #0e4bbd,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.95),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$cmp-colors-accent: (
  50: #fef4e1,
  100: #fee2b4,
  200: #fdd083,
  300: #fdbc51,
  400: #fdad2b,
  500: #fd9f0b,
  600: #f99308,
  700: #f48405,
  800: #ee7402,
  900: #e55b00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.95),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$cmp-colors-accent: (
  50: #fef4e1,
  100: #fee2b4,
  200: #fdd083,
  300: #fdbc51,
  400: #fdad2b,
  500: #fd9f0b,
  600: #f99308,
  700: #f48405,
  800: #ee7402,
  900: #e55b00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.95),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);
$border-radius: 4px;
$font-size-base: 14px;
$line-height-base: 1.48 !default;
$grey-palette: mat.define-palette(mat.$grey-palette, 500);
$grey-xxlight: map-get($grey-palette, 100); // #f5f5f5

$grey-palette: mat.define-palette(mat.$grey-palette, 500);
$primary-palette: mat.define-palette($cmp-colors-primary, 700, 100, 900);
$accent-palette: mat.define-palette($cmp-colors-accent, 700, 100, 900);
$red-palette: mat.define-palette(mat.$red-palette);
$accent: map-get($cmp-colors-accent, 700);
$grey-lighter: map-get($grey-palette, 300); // #e0e0e0
$grey-dark: map-get($grey-palette, 600); //rgba(0,0,0,54), #757575
$grey-darker: map-get($grey-palette, 700);
$grey-xdark: map-get($grey-palette, 800);
$grey-xxdark: map-get($grey-palette, 900);

$text-color-lighter: $grey-dark;


$color-config: (
  primary: $primary-palette,
  accent: $accent-palette,
  warn: $red-palette,
);

$spacer: 20px !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: (
      $spacer * 0.75,
    ),
    4: $spacer,
    5: (
      $spacer * 1.25,
    ),
    6: (
      $spacer * 1.5,
    ),
    7: (
      $spacer * 1.75,
    ),
    8: (
      $spacer * 2,
    ),
    9: (
      $spacer * 2.25,
    ),
  ),
  $spacers
);
// CDK DRAG & DROP
//
.cdk-drag-drop-wrapper {
    display: block;
    margin: 0 0 map-get($spacers, 4) - 8;
  
    .filter.mat-form-field {
      width: 100%;
    }
  
    .cdk-drag-drop-content {
      position: relative;
      overflow: hidden;
    }
  
    .cdk-drag-drop-side {
      float: right;
      width: calc(50% - #{map-get($spacers, 1)});
  
      .title {
        text-align: center;
  
        margin-left: 0;
        margin-right: 0;
      }
  
      &:first-child {
        float: left;
      }
    }
  
    $icon-size: 29px;
    $border-size: 5px;
  
    .icon-wrapper {
      position: absolute;
      border: $border-size solid white;
      width: $icon-size;
      height: $icon-size;
      background-color: $accent;
      top: (-1) * $border-size;
      left: 50%;
      margin-left: (-1) * math.floor(math.div($icon-size + 2 * $border-size, 2));
  
      border-radius: 50%;
  
      color: white;
  
      .mat-icon {
        text-align: center;
        line-height: $icon-size;
  
        border-radius: 50%;
        width: $icon-size;
        height: $icon-size;
      }
    }
  }
  
  .cdk-drop-list {
    display: block;
    overflow: hidden;
    border-radius: $border-radius;
  
    &.count-0 {
      background: repeating-linear-gradient(-45deg, white, white 5px, $grey-lighter 5px, $grey-lighter 10px);
      border: 1px solid white;
      min-height: math.floor($font-size-base * $line-height-base + $spacer);
    }
  }
  
  .cdk-drag {
    text-align: center;
  
    padding: map-get($spacers, 2) map-get($spacers, 4);
    box-sizing: border-box;
    cursor: move;
    background-color: $grey-lighter;
    border-radius: $border-radius;
    border: 1px solid white;
  
    &.cdk-drag-disabled {
      background-color: $grey-xxlight;
      cursor: not-allowed;
  
      color: $text-color-lighter;
    }
  }
  
  /* Highlight the list item that is being dragged. */
  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  /* Animate items as they're being sorted. */
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  